body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: #B9D9EB;
}
h1, h2, h3, h4 {
    color: #002ead;
    margin: 0 0 20px;
}
div.background {
    padding: 20px;
    margin: 0 0 20px;
    background-color: #fefdfd;
    max-width: 600px;
    border-radius: 10px;
}
span {
    font-weight: bold;
}
select {
    padding: 4px;
}